numpy==1.24.4
pandas==2.2.2
Requests==2.31.0
tabulate==0.9.0
tqdm==4.66.2
google-auth
google-cloud-storage
pyyaml
streamlit
streamlit_authenticator
SpeechRecognition
requests
halo
langchain
langchain_community
langchain_google_vertexai
langchain_google_community
scikit-learn
scikit-image
db-dtypes
pdf2image
pypdf
poppler-utils